:root {
  --colorOne: #8c65d3;
  --colorTwo: #004159;
  --colorThree: #ffff; 
  --colorFour: #222;
}

body {
  /* sets font family for entire body of page */
  font-family: Verdana, Geneva, Tahoma;
  margin: 0;
  background: var(--colorFour);
  font-weight: 300;
}

/* sets width and margin for header */
.container {
  width: 90%;
  margin: 0 auto;
}

/* sets background color for header */
.main-header {
  background: var(--colorOne);
}

.main-header::after {
  content: '';
  display: table;
  clear: both;
}

/* sets nav to the right in header */
nav {
  float: right;
}

/* sets margin, padding, and removes bullet points from nav */
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


nav li {
  /* sets display of nav side by side */
  display: inline-block;
  /* sers spacing between nav bar option* */
  margin-left: 70px;
  /*sets top padding of nav bar to max of 30px */
  padding-top: 30px;
  /*  */
  position: relative;
}

nav a {
  /* changes text color of nav bar items */
  color: var(--colorTwo);
  /* removes bullet points from listed items */
  text-decoration: none;
  /* sets nav bar words to be capitalized */
  text-transform: uppercase;
  font-size: 20px;
}

/* sets text color to black when you hover over nav bar options */
nav a:hover {
  color: #222;
}

nav a::before {
  content: '';
  display: block;
  /* sets height of black line above nav bar options */
  height: 4px;
  /* sets width of black line to 0, making it not visible to add hover effect */
  width: 0%;
  background-color: #222;
  /* sets the black line relative to contents of nav li */
  position: absolute;
  /* sets black line at the top of page */
  top: 0;
}

/* provides hover effect and makes black line visible above nav options */
nav a:hover::before {
  /* sets width of black line when hovered over */
  width: 100%;
}

/* allows navigation to navbar selections */
a {
  color: #ffffff;
  text-decoration: none;
}

h1 {
  float: left;
  color: var(--colorTwo);
}

h2 {
  color: var(--colorThree);
  border: 1px solid var(--colorOne);
  width: 150px;
  border-radius: 25px;
  text-align: center;
  background-color: var(--colorOne);
  color: var(--colorTwo);
}

/* font size for paragraph section of my bio */
p {
  font-size: 20px;
}

/* shared properties for about me, projects, and contact me sections */
.portfolio {
  margin-bottom: 20px;
  padding: 50px;
  height: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: var(--colorThree);
}

.my-bio {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

/* sets image properties to appropriate sizing */
.my-image {
  margin-top: 30px;
  width: 20%;
  margin-left: 30px;
  padding: 1%;
  border: 2px solid var(--colorOne);
  border-radius: 20px;
}

/* styling changes for paragraph section */
#about-me {
  margin-top: 20px;
  border: 20px;
  height: 50px; 
}

hr {
  margin-top: 20px;
  size: 3;
  width: 100%;
  color: var(--colorThree);
}

main {
  margin-top: 60px;
  width: 50%; 
  float: right;
  margin-right: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#image-project1 {
  margin-top: 10px;
  width: 530px;
  height: 400px;
  margin-right: 100px;
  padding: 1%;
  border: 2px solid var(--colorOne);
  border-radius: 20px;
}

/* pushed section closer to bottom of page */
#contact-me {
  margin-top: -20px;
  font-size: 20px;
}

.socials {
  margin: 15px;
  margin-left: 4px;
}

footer {
  text-align: center;
}

footer h5 {
  font-size: 15px;
  color: var(--colorThree);
}

footer p {
  font-size: 10px;
  color: var(--colorThree);
}